@model PacientesCRUD.Dtos.PatientDto
@{
    ViewData["Title"] = "DeleteGet";
}

<h1>DeletePatient</h1>

<form action="@Url.Action("Delete","Patients")" method="post">
    <div>
        <h3>Eliminar al paciente @Model.Name @Model.Lastname?</h3>
    </div>
    <div class="visually-hidden">
        <input value="@Model.Id" name="Id" />
        <div class="mb-3">
            <label for="Name" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name">
        </div>
        <div class="mb-3">
            <label for="Lastname" class="form-label">Apellido</label>
            <input type="text" class="form-control" name="Lastname" id="Lastname" value="@Model.Lastname">
        </div>
        <div class="mb-3">
            <label for="Dni" class="form-label">DNI</label>
            <input type="text" class="form-control" name="Dni" id="Dni" value="@Model.Dni">
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" name="Email" id="Email" value="@Model.Email">
        </div>
        <div class="mb-3">
            <label for="Phone" class="form-label">Telefono</label>
            <input type="text" class="form-control" name="Phone" id="Phone" value="@Model.Phone">
        </div>
        <div class="mb-3">
            <label for="Address" class="form-label">Direccion</label>
            <input type="text" class="form-control" name="Address" id="Address" value="@Model.Address">
        </div>
    </div>
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a class="btn" href="@Url.Action("GetAll", "Patients")">Cancelar</a>
</form>