@model List<PacientesCRUD.Dtos.PatientDto>
@{
    ViewData["Title"] = "GetByLastname";
}

<h1>Buscar paciente</h1>

<form class="d-flex flex-row w-100" action="@Url.Action("GetByLastname", "Patients")" method="post">
    <div class="form-floating w-100">
        <input type="text" name="lastname" class="form-control" placeholder="name@example.com" value="">
        <label for="floatingInputGrid">Ingrese el apellido del paciente</label>
    </div>
    <button type="submit" class="btn btn-success">Buscar</button>
</form>

@if(@Model != null){
    <div class="panel mt-5">
        <div class="panel-heading">
            <h3>Resultados de la busqueda</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>DNI</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Dirección</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (PacientesCRUD.Dtos.PatientDto patientDto in Model)
                        {
                            <tr>
                                <th>@patientDto.Name</th>
                                <th>@patientDto.Lastname</th>
                                <th>@patientDto.Dni</th>
                                <th>@patientDto.Email</th>
                                <th>@patientDto.Phone</th>
                                <th>@patientDto.Address</th>
                                <th>
                                    <a class="btn btn-success" href="@Url.Action("Update", "Patients", new{ id = patientDto.Id })">Editar</a>
                                    <a class="btn btn-danger" href=" @Url.Action("DeleteGet", "Patients", new { id = patientDto.Id })">Eliminar</a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
